@using LumexUI.Shared.Icons

<LumexCard Class="max-w-sm">
    <LumexCardHeader Class="gap-3">
        <span class="size-10 rounded-lg bg-gradient-to-tr from-indigo-100 to-indigo-300" />
        <div class="flex flex-col">
            <p class="font-semibold">LumexUI</p>
            <p class="text-small text-foreground-500">lumexui.org</p>
        </div>
    </LumexCardHeader>
    <LumexDivider />
    <LumexCardBody>
        <p>Make beautiful websites regardless of your design experience.</p>
    </LumexCardBody>
    <LumexDivider />
    <LumexCardFooter>
        <LumexLink Href="https://github.com/LumexUI/lumexui"
                   External="@true"
                   Class="text-indigo-500 dark:text-indigo-400">
            Visit source code on GitHub
            <ExternalLinkIcon Size="16" class="ml-1" />
        </LumexLink>
    </LumexCardFooter>
</LumexCard>
