<LumexCard Class="py-1">
    <LumexCardHeader Class="pb-0 flex-col items-start">
        <p class="text-tiny font-medium uppercase">J.D. Vaughn</p>
        <small class="text-foreground-500">Cyberpunk Noir</small>
        <h4 class="font-semibold text-large">Neon Shadows</h4>
    </LumexCardHeader>
    <LumexCardBody>
        <img src="assets/images/card-1.jpg"
             class="aspect-[4/3] object-cover rounded-medium"
             width="270"
             alt="Card image" />
    </LumexCardBody>
</LumexCard>
