<LumexDropdown>
    <LumexDropdownTrigger>
        <LumexButton Variant="@Variant.Outlined">
            Open Dropdown
        </LumexButton>
    </LumexDropdownTrigger>
    <LumexDropdownMenu>
        <EmptyContent>
            <span class="text-small">No items \(o_o)/</span>
        </EmptyContent>
    </LumexDropdownMenu>
</LumexDropdown>