@page "/docs/theming/dark-mode"
@layout DocsContentLayout

<DocsSection Title="Global dark mode">
    <p>
        LumexUI supports both <code>light</code> and <code>dark</code> modes.
        To enable dark mode globally, simply add the <code>dark</code> class
        to a wrapper element such as <code>html</code> or <code>body</code>.
    </p>

    <CodeSnippet Code="@(new CodeBlock( name: "App.razor", snippet: "darkModeRoot" ))" />
</DocsSection>

<DocsSection Title="Theme toggling">
    <p>LumexUI offers a simple theme-switching mechanism made up of two key parts:</p>

    <ul>
        <li><strong>A theme provider</strong> component that sets the initial theme on first load.</li>
        <li><strong>A theme service</strong> that enables dynamic theme changes at runtime.</li>
    </ul>

    <DocsSection Title="Add the theme provider">
        <p>Insert the <code>LumexThemeProvider</code> into your <code>MainLayout.razor</code> file:</p>

        <CodeSnippet Code="@(new CodeBlock( name: "MainLayout.razor", snippet: "darkModeProvider" ))" />

        <LumexAlert Radius="@Radius.Large">
            <DescriptionContent>
                <p class="my-0!">
                    The <code>LumexThemeProvider</code> component requires interactivity.
                    If you're using the Blazor Web App template, make sure to apply the appropriate <code>@@rendermode</code>.
                </p>
            </DescriptionContent>
        </LumexAlert>
    </DocsSection>

    <DocsSection Title="Add a mode toggle">
        <p>Add a mode toggle to the UI for switching between light and dark modes.</p>
        <ThemeTogglePreview />
    </DocsSection>
</DocsSection>

@code {
    [CascadingParameter] private DocsContentLayout Layout { get; set; } = default!;

    private readonly Heading[] _headings = new Heading[]
    {
        new("Global dark mode"),
        new("Mode toggling", [
            new("Add the theme provider"),
            new("Add a mode toggle"),
        ]),
    };

    protected override void OnInitialized()
    {
        Layout.Initialize(
            title: "Dark mode",
            category: "Theming",
            description: "Adding dark mode support to the application.",
            _headings
        );
    }
}
