@rendermode InteractiveWebAssembly

<div class="space-y-6">
    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantLight")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantLight />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantShadow")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantShadow />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantBordered")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantBordered />
    </PreviewCode>

    <PreviewCode Code="@new(name: null, snippet: "Accordion.Code.VariantSplitted")">
        <LumexUI.Docs.Client.Pages.Components.Accordion.Examples.VariantSplitted />
    </PreviewCode>
</div>