@using LumexUI.Shared.Icons

<div class="w-full flex flex-col">
    <LumexTabs Color="@ThemeColor.Primary">
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <ImagesIcon Size="20" />
                    <span>Photos</span>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <MusicIcon Size="20" />
                    <span>Music</span>
                </div>
            </TitleContent>
        </LumexTab>
        <LumexTab>
            <TitleContent>
                <div class="flex items-center space-x-2">
                    <ClapperboardIcon Size="20" />
                    <span>Videos</span>
                </div>
            </TitleContent>
        </LumexTab>
    </LumexTabs>
</div>
