@using LumexUI.Shared.Icons

<div class="flex gap-4 items-center">
    <LumexAvatar Src="https://images.unsplash.com/broken">
        <FallbackContent>
            <CameraIcon class="animate-pulse text-default-500" />
        </FallbackContent>
    </LumexAvatar>
    <LumexAvatar Name="John Doe" Src="https://images.unsplash.com/broken" />
    <LumexAvatar ShowFallback="@false" Name="Jane" Src="https://images.unsplash.com/broken" />
</div>