@using LumexUI.Shared.Icons

<div class="flex items-center gap-4">
    <LumexButton IconOnly="@true" Color="@ThemeColor.Danger">
        <HeartIcon />
    </LumexButton>
    <LumexButton IconOnly="@true" Color="@ThemeColor.Warning">
        <CameraIcon />
    </LumexButton>
</div>