@namespace LumexUI.Docs.Client.Components

<div class="my-10 sm:my-16">
    <div class="not-prose grid grid-cols-[auto_minmax(0,_1fr)] items-center gap-y-4 gap-x-8">
        <div class="col-start-2 grid grid-cols-10 justify-items-center gap-1.5 py-1 bg-background font-medium text-small text-foreground-900 *:rotate-180 *:[writing-mode:vertical-lr] sm:gap-4 sm:*:rotate-325 sm:*:[writing-mode:horizontal-tb]">
            @foreach( var (key, value) in BaseColors )
            {
                <div>@value</div>
            }
        </div>

        <p class="mb-4 capitalize font-medium text-foreground-900 text-small">Base</p>
        <div class="mb-4 grid grid-cols-10 gap-1.5 sm:gap-4">
            @foreach( var (key, value) in BaseColors )
            {
                <div class="aspect-square w-full rounded-sm inset-ring inset-ring-default-900/10 sm:rounded-md"
                     style="background-color: var(--color-@key)" />
            }
        </div>

        <div class="sticky top-16 z-10 bg-background">&nbsp;</div>
        <div class="sticky top-16 z-10 col-start-2 grid grid-cols-10 justify-items-center gap-1.5 py-1 bg-background font-medium text-small text-foreground-900 *:rotate-180 *:[writing-mode:vertical-lr] sm:gap-4 sm:*:rotate-0 sm:*:[writing-mode:horizontal-tb]">
            @foreach( var shade in Shades )
            {
                <div>@shade</div>
            }
        </div>

        @foreach( var color in Enum.GetValues<ThemeColor>()[1..] )
        {
            var colorName = color.ToString().ToLower();

            <p class="capitalize font-medium text-foreground-900 text-small">@colorName</p>
            <div class="grid grid-cols-10 gap-1.5 sm:gap-4">
                @foreach( var shade in Shades )
                {
                    <div class="aspect-square w-full rounded-sm inset-ring inset-ring-default-900/10 sm:rounded-md"
                         style="background-color: var(--color-@colorName-@shade)" />
                }
            </div>
        }
    </div>
</div>

@code {
    private static readonly int[] Shades = [50, 100, 200, 300, 400, 500, 600, 700, 800, 900];
    private static readonly Dictionary<string, string> BaseColors = new()
    {
        ["background"] = "bg",
        ["foreground"] = "text",
        ["focus"] = "focus",
        ["divider"] = "divider",
        ["surface1"] = "surface1",
        ["surface2"] = "surface2",
        ["surface3"] = "surface3"
    };
}
