@using LumexUI.Services

@foreach( var radius in Enum.GetValues<Radius>() )
{
    <LumexPopover Radius="@radius">
        <LumexPopoverTrigger>
            <LumexButton Color="@ThemeColor.Secondary"
                         Variant="@Variant.Flat">
                @radius.ToString()
            </LumexButton>
        </LumexPopoverTrigger>
        <LumexPopoverContent>
            <div class="px-1 py-2">
                <div class="text-small font-bold">Oh, hi there!</div>
                <div class="text-tiny">I am the popover content</div>
            </div>
        </LumexPopoverContent>
    </LumexPopover>
}