@using LumexUI.Services

<LumexPopover Offset="16"
              ShowArrow="@true"
              Placement="@PopoverPlacement.Right"       
              Classes="@_classes">
    <LumexPopoverTrigger>
        <LumexButton>Open Popover</LumexButton>
    </LumexPopoverTrigger>
    <LumexPopoverContent>
        <div class="px-1 py-2">
            <h3 class="text-small font-bold">Oh, hi there!</h3>
            <div class="text-tiny">I am the popover content</div>
        </div>
    </LumexPopoverContent>
</LumexPopover>

@code {
    private PopoverSlots _classes = new()
    {
        Content = ElementClass.Empty()
            .Add( "py-3 px-4 border border-default-200" )
            .Add( "bg-linear-to-br from-white to-default-200" )
            .Add( "dark:from-default-100 dark:to-default-50" )
            .ToString(),
        Arrow = "bg-default-200"
    };
}