@using LumexUI.Services

<div class="flex flex-wrap md:inline-grid md:grid-cols-3 gap-4">
    @foreach( var placement in Enum.GetValues<PopoverPlacement>() )
    {
        <LumexPopover Placement="@placement">
            <LumexPopoverTrigger>
                <LumexButton Color="@ThemeColor.Danger"
                             Variant="@Variant.Flat"
                             Class="capitalize">
                    @placement.ToDescription().Replace( "-", " " )
                </LumexButton>
            </LumexPopoverTrigger>
            <LumexPopoverContent>
                <div class="px-1 py-2">
                    <div class="text-small font-bold">Oh, hi there!</div>
                    <div class="text-tiny">I am the popover content</div>
                </div>
            </LumexPopoverContent>
        </LumexPopover>
    }
</div>