@using LumexUI.Shared.Icons

<div class="flex h-8 px-2 py-1 space-x-2 items-center bg-background ring ring-default-900/10 rounded-sm">
    <AlignLeftIcon Size="20" />
    <AlignCenterIcon Size="20" />
    <AlignRightIcon Size="20" />
    <LumexDivider Orientation="@Orientation.Vertical" />
    <BoldIcon Size="20" />
</div>
