@namespace LumexUI.Tests.Components
@inherits TestContext

@code {
    public DropdownTests()
    {
        Services.AddSingleton<TwMerge>();

        var module = JSInterop.SetupModule( "./_content/LumexUI/js/components/popover.bundle.js" );
        module.SetupVoid( "popover.initialize", _ => true );
        module.SetupVoid( "popover.destroy", _ => true );
    }

    [Fact]
    public void ShouldRenderCorrectly()
    {
        var action = () => Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu>
                        <LumexDropdownItem>New file</LumexDropdownItem>
                        <LumexDropdownItem>Edit file</LumexDropdownItem>
                        <LumexDropdownItem>Share file</LumexDropdownItem>
                        <LumexDropdownItem>Delete file</LumexDropdownItem>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        action.Should().NotThrow();
    }

    [Fact]
    public void ShouldRenderEmptyContent()
    {
        var cut = Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu>
                        <EmptyContent>
                            <span>No items \(o_o)/</span>
                        </EmptyContent>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        var trigger = cut.Find( "[data-popovertarget]" );
        trigger.Click();

        cut.FindBySlot("empty-content").Should().NotBeNull();
    }

    [Fact]
    public void ShouldRenderItemDescription()
    {
        var cut = Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu>
                        <LumexDropdownItem Description="test">New file</LumexDropdownItem>
                        <LumexDropdownItem>Edit file</LumexDropdownItem>
                        <LumexDropdownItem>Share file</LumexDropdownItem>
                        <LumexDropdownItem>Delete file</LumexDropdownItem>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        var trigger = cut.Find( "[data-popovertarget]" );
        trigger.Click();

        cut.FindBySlot("description").Should().NotBeNull();
    }

    [Fact]
    public void ShouldTriggerDropdownOnClick()
    {
        var cut = Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu data-testid="menu-test">
                        <LumexDropdownItem>New file</LumexDropdownItem>
                        <LumexDropdownItem>Edit file</LumexDropdownItem>
                        <LumexDropdownItem>Share file</LumexDropdownItem>
                        <LumexDropdownItem>Delete file</LumexDropdownItem>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        var trigger = cut.Find( "[data-popovertarget]" );
        trigger.Click();

        var menu = cut.FindByTestId( "menu-test" );
        menu.Should().NotBeNull();
    }

    [Fact]
    public void ShouldHideDropdownOnItemClick()
    {
        var cut = Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu data-testid="menu-test">
                        <LumexDropdownItem>New file</LumexDropdownItem>
                        <LumexDropdownItem>Edit file</LumexDropdownItem>
                        <LumexDropdownItem>Share file</LumexDropdownItem>
                        <LumexDropdownItem>Delete file</LumexDropdownItem>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        var trigger = cut.Find( "[data-popovertarget]" );
        trigger.Click();

        var menuItems = cut.FindAll( "li" );
        menuItems[0].Click();

        var menu = cut.FindByTestId( "menu-test" );
        menu.Should().BeNull();
    }

    [Fact]
    public void ShouldNotTriggerDisabledItem()
    {
        var clicked = false;
        var cut = Render(
            @<text>
                <LumexDropdown>
                    <LumexDropdownTrigger>
                        <LumexButton>Open Dropdown</LumexButton>
                    </LumexDropdownTrigger>
                    <LumexDropdownMenu DisabledItems="@(["new"])">
                        <LumexDropdownItem Id="new" 
                                           OnClick="@(() => clicked = !clicked)">
                            New file
                        </LumexDropdownItem>
                        <LumexDropdownItem Id="edit">Edit file</LumexDropdownItem>
                        <LumexDropdownItem Id="share">Share file</LumexDropdownItem>
                        <LumexDropdownItem Id="delete">Delete file</LumexDropdownItem>
                    </LumexDropdownMenu>
                </LumexDropdown>
            </text>
        );

        var trigger = cut.Find( "[data-popovertarget]" );
        trigger.Click();

        var menuItems = cut.FindAll( "li" );
        menuItems[0].Click();

        clicked.Should().BeFalse();
    }
}
