@import "tailwindcss" theme(static);
@import "../bin/lumexui/_theme";
@import "./fonts";
@import "./prism";
@import "./blazor";
@import "./themes";
@import "./typography" layer(utilities);

@source "../bin/lumexui/*.cs"; /* components */
@source "../../LumexUI.Docs.Client/{Pages,Components}/**/*.{razor,razor.cs}"; /* docs */

@plugin "@tailwindcss/typography";

@custom-variant scrollbar (&::-webkit-scrollbar);
@custom-variant scrollbar-track (&::-webkit-scrollbar-track);
@custom-variant scrollbar-thumb (&::-webkit-scrollbar-thumb);

@theme {
    --font-sans: InterVariable, system-ui;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-mono: FiraCodeVariable, ui-monospace;
}

.dark {
    --lumex-background: var(--color-zinc-950);
}

@utility highlight-* {
    box-shadow: inset 0 1px 0 0 --alpha(--value(--color- *, [color]) / --modifier(integer)%);
}

@utility bordered-link {
    @apply font-semibold leading-tight text-current border-b border-current hover:border-b-2;
}
