.token.tag,
.token.function {
    @apply text-orange-400;
}

.token.attr-name {
    @apply text-zinc-300;
}

.token.attr-value,
.token.string {
    @apply text-indigo-300;
}

.token.punctuation,
.token.attr-equals {
    @apply text-zinc-500;
}

.token.named-parameter {
    @apply text-zinc-400;
}

.token.comment,
.token.operator {
    @apply text-zinc-400;
}

.token.keyword,
.token.property {
    @apply text-teal-400;
}

.token.block {
    display: initial !important;
}

.line-highlight {
    @apply absolute inset-x-0 mt-[1.25rem] border-l-4 border-indigo-400 bg-indigo-400/15 pointer-events-none;
}

pre[data-line] {
    @apply relative;
}

pre[class^='language-diff-'] {
    @apply flex px-9;
}

    pre[class^='language-diff-'] > code {
        @apply flex-none min-w-full;
    }

.line-numbers .line-highlight:after, 
.line-numbers .line-highlight:before {
    content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all
}

    pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
        cursor: pointer
    }

    pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
        background-color: rgba(128,128,128,.2)
    }

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

    pre[class*=language-].line-numbers > code {
        position: relative;
        white-space: inherit
    }

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber
}

    .line-numbers-rows > span:before {
        content: counter(linenumber);
        color: var(--color-zinc-500);
        display: block;
        padding-right: .8em;
        text-align: right
    }
